*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('../img/grey.jpg');
    height: 100vh;
    background-size: 100% 100%;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    color: blanchedalmond;
}
/*Navbar*/
nav{
    border-top: 5px solid red;
}
nav a{
    transition: all 0.5s;
}
nav a:hover{
    background-color: red;
}
/**/
form {
    margin-top: 150px;
   
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sosyal {
    text-align: center;
    margin-bottom: 20px;
}
.sosyal i {
    font-size: 40px;
}
a {
    color: #080C56;
}
a:hover {
    color: #fff;
}

.butonlar {
    text-align: center;
}

.btn {
    background-color: black;
    color: #fff;
}
.btn:hover {
    background-color: red;
}
/*Footer*/
/*footer*/
footer{
    background: #343A40;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom:0px ;
}
footer p{
    display: inline;
}

