*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    color: blanchedalmond;
    font-size: 18px;
}
body{
    background-color: rgb(83, 80, 80);
}
/*Navbar*/
nav{
    border-top: 5px solid red;
}
nav a{
    transition: all 0.5s;
}
nav a:hover{
    background-color: red;
}
h3{
    color: red;
}
h4{
    color: green;
}
/*Main*/
nav + .container{
    margin-top: 80px;
    height: 600px;
}
#blog{
    margin-top: 20px;
}
#blog .col-md{
    border-left: 5px solid red;
    margin-top: 20px;
}
/*Footer*/
footer{
    background: #343A40;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom:0px ;
}
footer p{
    display: inline;
}